.card-atleta {
  border: 1px solid #ccc;
  padding: 16px;
  text-align: center;
  margin: 8px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card-atleta img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card-atleta button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.card-atleta button:hover {
  background-color: #0056b3;
}